<html>
<body>
<form action="/songs/upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Upload File" />
</form>

<form action="/songs/upload/process" method="post" enctype="multipart/form-data">
<ul>
{% for field in required_fields %}
	<li>
		<select name="{{ field.0 }}">
		{% for header in headers %}
			<option value="{{ header }}">{{ header }}</option>
		{% endfor %}
		</select>
		{{ field.1 }}
	</li>
{% endfor %}
</ul>
	<input type="hidden" name="headers" value="{{ headers }}" />
	<input type="hidden" name="data" value="{{ data }}" />
    <input type="submit" value="Submit Data" />
</form>

<table>
	<tr>
{% for header in headers %}
	<th>{{ header }}</th>
{% endfor %}
	<tr>
{% for row in data %}
	<tr>
	{% for cell in row %}
		<td>{{ cell }}</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>
</body>
</html>
