<html>
<body>
<table>
<tr>
	<th></th>
	{% for phrase in phrases %}
	<th>{{ phrase }}</th>
	{% endfor %}
</tr>
{% load index %}
{% for row in transition_matrix %}
<tr style="height: 1em;">
	<th>{{ phrases | index:forloop.counter0 }}</th>
	{% for num in row %}
		<td style="width: 1.3em; text-align: right; background-color: {{ colour_matrix|index:forloop.parentloop.counter0|index:forloop.counter0 }};">{% if num != 0 %}{{ num }}{% endif %}</td>
	{% endfor %}
</tr>
{% endfor %}
</table>
</body>
</html>
